@{
    ViewBag.Title = "Dibz - ElevenNote";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ElevenNote is an amazingly useful application to design.  It has been enormously beneficial to the progress of my learning, so I hope you enjoy looking at this bare naked screen before I start modifying it.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ElevenNote allows a user to store their thoughts in a simple, convenient fashion.  By simply giving a note a title, and filling in a short blurb in the content section, users can quickly index and access their notes by id number, date, title, and eventually keyword search and by category.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>No more libraries needed! This app can be ran on any mobile device, with MacOS operability coming soon! (Yeah Right...)</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Stay Organized!</h2>
        <p>With ElevenNotes patent-pending Category feature, you can keep all related notes in seperate categories, displayed easily for your quick perusal!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>